body {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	margin: 0;
	padding: 0;
}

a {
	font-size: 1.1em;
	margin: 0 1% 0 1%;
}

/* unvisited link */
a:link {
  color: black;
  text-decoration: none;	
}

/* visited link */
a:visited {
  color: black;
}

/* mouse over link */
a:hover {
	color: black;
	text-decoration: underline;
}

/* selected link */
a:active {
  color: gray;
}

h1 {
	font-family: 'Montserrat', sans-serif;
	font-size: 6em;
	color: white;
	margin: 0;
	padding: 0;
}

h2 {
	font-family: 'Lato', sans-serif;
	font-size: 2em;
	font-weight: 700;
	color: white;
	margin: 1% 0 0 0;
	padding: 0;
}

h3 {
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	font-size: 1.3em;
	color: #DE3E40;
}

.header-band {
	display: block;
	height: 300px;
	background: #ffffff url("/images/sffog.png") no-repeat center center;
	padding-top: 10%;
	text-align: center;
	position: relative;
}

.toolbar {
	height: 40px;
	text-align: center;
	background-color: rgba(239,239,239, 0.5);
	padding-top: 1.3%;
	position: absolute;
	bottom: 0;
	width: 100%;
}

.main-band {
	display: block;
}

.side-panel {
	display: inline-block;
	width: 25%;
	margin-left: 5%;
	vertical-align: top;
	padding-top: 2%;
}

google-map {
	height: 500px;
	display: inline-block;
	width: 65%;
}

ul {
	line-height: 1.5em;
	list-style-type: none;
}


